doctype html
html
	head
		title Power Grid
		link(rel="shortcut icon",href="/public/favicon.ico",type="image/x-icon")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")
	body
		div#application

		script(type="text/javascript")
			| window.appSettings = { hostname: '#{hostname}', passwordStrengthRegex: !{passwordStrengthRegex} };
			| window.initialState = !{initialState};

		if isProduction
			script(type="text/javascript", src="/public/bundle.min.js")
		else
			script(type="text/javascript", src="/public/bundle.js")
