doctype html
html
	head
		title Power Grid
	body
		div#application

		script(type="text/javascript")
			| window.initialState = !{initialState};

		if isProduction
			script(type="text/javascript", src="/public/bundle.min.js")
		else
			script(type="text/javascript", src="/public/bundle.js")
